/* add your css styles here! */
.column-padding {
  padding-top: 20px;
}
img {
  height: 300px;
  width: 100%;
  margin-bottom: 20px
}

.about-me-header{
    text-align: center;
    margin-bottom: 30px;
}

.me-image{
    height: 300px;
    width: 300px;
}

.toDoContainer {
  text-align: center;
  margin: 50px;
}

.suggestion{
    text-align: center;
    margin: 50px;
}

button{
    border-radius: 10px;
    padding: 1px 7px 2px;
    background-color: #416165;
    color: white
}

body{
    background-color: #BCD0C7;
    font-family: Poppins
}

.footer{
    height: 100px;
    background-color: #A9B2AC;
}

.food{
    background-color: #DEF2C8;
    
}

.toDo{
    background-color: #89B5A1;
}

h5{ 
    margin-bottom: 20px;
}

.container {
    border-bottom: #707F78 solid;
}

.last{
    border-bottom: none;
    margin-bottom: 50px;
}